body {
    margin: 0;
    padding-top: 0px;/* Ajusta según el tamaño del encabezado*/
}

html {
    scroll-behavior: smooth;
}

/*Header ****************************/
header {
    /* position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #0B1522;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #0B1522;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 1000; /* Ajusta según sea necesario*/
}

nav:first-of-type {
    order: 1;
    /*Primer nav logo, a la derecha*/
}

nav:last-of-type {
    order: 2;
    /*Mantiene el segundo nav menu, a la izquierda*/
}

#logo {
    font-size: 30px;
    font-weight: bold;
    color: #73DF73;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    /*espacio entre los elementos del menu*/
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all 0.30s ease;
}

a:hover {
    color: #73DF73;
    text-decoration: underline;
    /*subraya el texto*/
    text-underline-offset: 4px;
    transform: translateY(-50px);
    /*movimiento hacia arriba*/
}

/*Slider *******************/

/*Ajuste de carrusel*/
.carousel-inner img {
    height: auto;
    max-height: 700px;
    object-fit: inherit;
}

.carousel-caption {
    position: absolute;
    /* top: 50%; */
    left: 15%;
    /* bottom: 50%; */
    /* bottom: 25%; */
    bottom: 40%;
    /* transform: translate(-50%); */
    text-align: center;
    /* background-color: rgba(7, 243, 23, 0.5); */
    background-color: rgba(5, 3, 28, 0.284);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
}

.carousel-caption h1 {
    font-size: 70px;
    /* font-size: 30px; */
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

.carousel-caption h2 {
    background-color: #0B1522;
    color: white;
    font-size: 20px;
}

.carousel-caption span {
    font-family: roboto;
    padding: 5px;
    background-color: rgba(7, 243, 23, 0.5);
    color: white;
}

/*Especialidades CARDS **************************/

.cards-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /*Espacio entre las card*/
    justify-items: center;
    /*Centra card horizontalmente*/

  
}

.card {
    margin: 5px;
    border-width: 3px;
    border-color: #0B1522;
}

.card-body {
    background-color: #0B1522;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

/*Nuestras Especialidades - Acordeon ***************************************/

#especialidades h2 {
    /* margin-top: 5%; */
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-weight: 700; /* Bold */
    color: #008b8b;
    font-size: 40px;

}

.accordion {

    /* max-width: 350px;/*ancho del acordeón*/
    max-width: 600px;
    /*ancho del acordeón*/
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.accordion-item {
    margin-bottom: 10px;
}

/* Estilos para el acordeón y botones */
.accordion-button {
    color: #ffffff !important;
    /* Color de texto predeterminado */
    background-color: #4ada1f !important;
    /* Color de fondo predeterminado, importante para priorizar sobre Bootstrap */
    /* border: 1px solid #dee2e6; */
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transición suave para cambios */
}


.accordion-body {
    background-color: #0B1522;
    /*Color de fondo del cuerpo del acordeón*/
    /* background-color: rgba(0, 255, 34, 0.67); */
    /*color: rgb(0, 0, 0); /* Color del texto del cuerpo del acordeón */
    color: white;
    font-size: 18px;
}

/*Nosotros ******************/
#nosotros h2 {
    margin-top: 5%;
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-weight: 700; /* Bold */
    color: #008b8b;
    font-size: 40px;

}

#nosotros .contenedor {
    text-align: center;
    padding: 50px 12px;
    background-color: aliceblue;
}

#nosotros h3 {
    margin-top: 0;
    font-size: 2em;
}

#nosotros p {
    line-height: 30px;
    font-size: 1.5em;
}

#nosotros span {
    color: rgb(115, 223, 115);
    background-color: rgba(19, 208, 12, 0.141);
    padding: 5px;
}

/********* CONTACTOS/UBICACIÓN ********/
#contactos .contenedor {
    padding: 100px 0px;
    background-color: rgba(30, 30, 30);
    color: white;
    text-align: center;
}
#contactos h2 {
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-weight: 700; /* Bold */
    color: #008b8b;
    font-size: 40px;
}
#contactos .icono {
    font-size: 2em;
    margin-bottom: 10px;
    color: #73DF73;
}
#contactos p {
    color: white;
    font-size: 20px;
}
#contactos .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contactos .col {
    flex-basis: 45%;
    margin: 20px;
    text-align: center;
}
#contactos iframe {
    width: 90%;
    height: 450px;
    border: 0;
    margin: 20px auto;
}

/*Footer **********************/

footer {
    background-color: rgba(230, 230, 230);
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    padding: 12px;
    color: rgba(100, 100, 100);
}

footer .contenedor {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}